<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/api_call.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="board">
      <h1>Temperatura:</h1>
      <h1 id="temp">Actualizando...</h1>
      <h1>Tensión:</h1>
      <h1 id="voltage">Actualizando...</h1>
    </div>
  </body>
</html>